/*COLORES DE LA PÁGINA*/
/* 
.dark-primary-color    { background: #455A64; }
.default-primary-color { background: #607D8B; }
.light-primary-color   { background: #CFD8DC; }
.light-secondary-color { background: #d6dfe4; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #009688; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; } 
 */

:root{
    /*Paleta de colores*/
    --dark-primary-color: #455A64;
    --default-primary-color: #607D8B; 
    --light-primary-color: #CFD8DC; 
    --light-secondary-color: #d6dfe4;
    --text-primary-color: #FFFFFF; 
    --accent-color: #009688;
    --primary-text-color: #212121;
    --secondary-text-color: #707070;
    --divider-color: #BDBDBD;
}


html{
    font-size: 100%;
}

body{
    font-family:'Cardo', serif;
    font-size: 1.35rem;
    line-height: 160%;
    text-align: justify;
    background-color: var(--light-secondary-color); /*Ojo, mirar como se ponía lo de las variables*/    
    width: 100%;
    height: 100%; 
}


/*BARRA PROGRESO*/

.content{    
    position: relative;
    
}

.content:before{
    content: "";
    display: block;
    background: linear-gradient(to right top, var(--default-primary-color) 0%, var(--accent-color) 50%, var(--light-primary-color) 50%);
    height: calc(100% - 100vh + 12px);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
} 

.content:after{
    content: "";
    display: block;
    background:var(--light-primary-color);
    height: calc(100vh - 12px);    
    width: 100%;
    position: -webkit-sticky;
    position: sticky;       
    bottom: 0;
    left: 0;  
}

.barra{    
    position: relative;   
    z-index: 1;
    margin-bottom: calc(-90vh + 12px)
}



/*TIPOGRAFÍAS*/
h1{
    font-family: 'Urbanist', sans-serif;
    font-size: 2.8rem;
    color: var(--primary-text-color);
}

h2{
    font-family: 'Urbanist', sans-serif;
    font-size: 2.2rem;
    color: var(--secondary-text-color);
}

.pie-cdo{
    font-size: 1.2rem;
    font-style: italic;
    color: var(--secondary-text-color);
}


.typografy-stylo{
    color:white;
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: -5px;
    margin-left: -12px;
    padding-left: 0px;    
}

/*CLASES PARA MODIFICAR LAS IMÁGENES*/

.remove-bg{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    
}

.imagen-Gutenberg{
    background-image: url("../img/01\ Gutenberg.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    width: 18rem;
    height: 20rem;
    background-size: 15rem;
   
}



/*BARRA DE NAVEGACIÓN NAVBAR*/

.navegacion{    
    position:relative;
    background-image: url("../img/letras.jpg");
    background-repeat: repeat-x;
    background-position: 0% 25%;
    background-size: 120rem;
    width: 100%;
    height: 5rem;
    padding: 0;
}

.navegacion::before{
    content: "";
    position:absolute;
    background-color: rgba(0, 0, 0, 0.47);
    width: 100%;
    height: 5rem;
   
}
