/*COLORES DE LA PÁGINA*/
/* 
.dark-primary-color    { background: #455A64; }
.default-primary-color { background: #607D8B; }
.light-primary-color   { background: #CFD8DC; }
.light-secondary-color { background: #d6dfe4; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #009688; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; } 
 */

:root{
    /*Paleta de colores*/
    --dark-primary-color: #455A64;
    --default-primary-color: #607D8B; 
    --light-primary-color: #CFD8DC; 
    --light-secondary-color: #d6dfe4;
    --text-primary-color: #FFFFFF; 
    --accent-color: #009688;
    --primary-text-color: #212121;
    --secondary-text-color: #707070;
    --divider-color: #BDBDBD;
    --contrast-color:#894E76;

    /*S.XV elements*/
    --jobs-height: 25rem;


    /*Diffusion elements*/
    --wrapper-width: 55rem;
    --wrapper-height: 28rem;


    /*Carousel elements*/
    --carousel-width: 18rem;
    --carousel-height: 28rem;
    --carousel-radius: 15px;
    --carousel-centerleft-position: calc( (0.5*100%) - (0.5 * var(--carousel-width)));

    
}


html{
    font-size: 100%;
}

body{
    font-family:'Cardo', serif;
    font-size: 1.35rem;
    line-height: 2rem;
    background-color: var(--light-secondary-color); /*Ojo, mirar como se ponía lo de las variables*/    
    width: 100%;
 /*    height: calc(90vh - 80px - 60px); */
}


/*BARRA PROGRESO*/

.content{    
    position: relative;
       
}

.content:before{
    content: "";
    display: block;
    background: linear-gradient(to right top, var(--default-primary-color) 0%, var(--accent-color) 50%, var(--light-secondary-color) 50%);
    height: calc(100% - 100vh + 12px);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
} 

.content:after{
    content: "";
    display: block;
    background:var(--light-secondary-color);
    height: calc(100vh - 12px);    
    width: 100%;
    position: -webkit-sticky;
    position: sticky;       
    bottom: 0;
    left: 0;  
}

.barra{    
    position: relative;   
    z-index: 4;
    margin-bottom: calc(-90vh + 12px);
}



/*TIPOGRAFÍAS*/
h1{
    font-family: 'Urbanist', sans-serif;
    font-size: 2.8rem;
    color: var(--primary-text-color);
}

h2{
    font-family: 'Urbanist', sans-serif;
    font-size: 2.2rem;
    color: var(--secondary-text-color);
}

h4{
    font-family: 'Urbanist', sans-serif;
    font-size: 1.6rem;
    color: var(--primary-text-color);    
    margin:0;
}

.pie-cdo{
    font-size: 1.2rem;
    font-style: italic;
    color: var(--secondary-text-color);
}

/*------------------------------FOOTER---------------------*/

footer{
    position: relative;
    
}

/*------------------------------BARRA DE NAVEGACIÓN NAVBAR-------------------------------------------*/

.overlay{    
    position:relative;
    background: rgba(0, 0, 0, 0.60) url("../img/letras.jpg");
    background-repeat: repeat-x;
    background-position: 0% 25%;
    background-size: 120rem;
    background-blend-mode: darken;
    width: 100%;
    height: 5rem;
    padding: 0;    
}

.navbar{
    padding-left: 1rem;
    padding-right: 1rem;
}

.navegacion{    
    z-index: 2;
}

.despliegue{
    background-color: rgba(255, 255, 255, 0);    
    z-index:20;
   /*  padding-left: 5rem;  */    
}

.img-link{
    filter: saturate(250%) brightness(2);
}


.nav-typografy{
    color: var(--light-primary-color);
    font-size: 1.1rem;
    line-height: 1.5rem;
}


.nav-item{
    margin-right: 0.6rem;
}

.nav-link{
    transition: font-size 0.5s;
}

.nav-link:hover{
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--light-primary-color);
}

.iconoNav{
    color: var(--light-primary-color);
    font-size: 1.4rem;
    padding-left: 1rem;
}


/*OTROS*/

.iconos{
    color: var(--dark-primary-color);
    font-size: 1.5rem;  
}




/*CLASES PARA MODIFICAR LAS IMÁGENES*/

.remove-bg{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    
}




/*------------------------------GUTENBERG--------------------------------------------*/


/*Imágenes*/

.imagen-Gutenberg{
    background-image: url("../img/01\ Gutenberg.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    width: 18rem;
    height: 22rem;
    object-fit: contain;
    background-size: 18rem;
    margin-top: 0.45rem;   
    margin-right: 1.8rem;
}



.rotatecheck{
    transform: rotate(180deg);
    transition: transform 1s;
    cursor: pointer;
}

.rotatecheck:active{
    transform: rotate(0deg);
}

/* #botonLeer input:checked + label{
    transform: rotate(0deg);
    
} */

 
/* ---------------Qué fue lo que inventó--------------- */

/*Imgágenes*/
.imagen-invento{      
    display: inline-block;
    position: relative;   
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;     
    width: 21rem;
    height: 12rem;      
}

.imagen-invento img{
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;    
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.imagen-invento:before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: inset 0px 0px 25px 12px black;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;    
    top:0;
    bottom: 0;
}


.imagen-invento:hover{
    cursor: pointer;
}

.imagen-invento-prensa{
    display: inline-block;
    position: relative;   
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;     
    width: 21rem;
    height: 26rem;   
}

.imagen-invento-prensa:before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: inset 0px 0px 25px 12px black;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;    
    top:0;
    bottom: 0;
}

.imagen-invento-prensa img{
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;    
    width: inherit;
    height: inherit;
    object-fit: cover;
}


/*Lista*/

#lista ol {
    counter-reset: li; 
    list-style: none; 
    list-style: decimal; 
    font: 1rem 'Cardo';
    padding: 0;
    margin-bottom: 5rem;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#lista ol {
    margin: 0 0 0 2rem; 
}

#lista {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/     
    margin: 0;
    margin-left: 4rem;
    padding: 0;    
    counter-reset: li-counter;
}

#lista li{
    position: relative;
    box-shadow: inset 0px 0px 12px 2px var(--primary-text-color);
    color: var(--text-primary-color);
    font-size: 1.2rem;
    margin-bottom: 30px;
    height: auto;
    padding: 0.4rem 0.4rem 0.4rem 1.2rem;
    border-left: 2px solid #CCCCCC;
    background-color: var(--default-primary-color);
}

#lista li:before {
    position: absolute;
    top: 0;
    left: -0.95em;
    width: 1em;
 
    font-size: 3em;
    
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: var(--dark-primary-color);
     
    transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    z-index: -99;
    overflow: hidden;
     
    content: counter(li-counter);
    counter-increment: li-counter;
}






/*--------------------------------TRABAJOS EN S.XV---------------------------------------------*/

.bloque{
    width: auto;
    height: auto;
    margin-left:0;
    padding-left:0;
     
}

.boton{
    width: 100%;
    height: 2.5rem;
    display: flex;
    overflow: hidden;
    align-items: center;  
    justify-content: center; 
    background-color: var(--dark-primary-color);  
}

.botonlink{     
    color: var(--text-primary-color);
    vertical-align: middle;
    font-size: 1.1rem;       
}

.boton:hover{
    box-shadow: 0 0 3px 3px var(--default-primary-color);    

}

.botonlink:hover{
    color: var(--text-primary-color);
    font-weight: bold;
    text-decoration: none;     
}


#begin, #returncomposer, #returntirador .boton{
    border-top-left-radius: 4px;
   
}

.forward-button{
    width: 8rem;
    height: auto;
    display: flex;
    align-items: center;  
    justify-content: center; 
    background-color: var(--dark-primary-color);    
    border-top-right-radius: 4px;
        
}

.forward-button:hover{
    box-shadow: 0 0 3px 3px var(--default-primary-color);    
}

.forward{
    width: 8rem;
    height: auto;
    display: flex;
    align-items: center;  
    justify-content: center; 
    background-color: var(--dark-primary-color);     
    border-bottom-right-radius: 4px;      
}

.back-layer1{    
    background-image: url("../img/08 Trabajadores imprenta 1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  
    box-shadow: inset 0 0 15px 6.5px #94938f;
    width: auto;
    height: var(--jobs-height);
   
}

.back-layer1:hover{
    background-size: 300%;
    border-radius: 50%;
    background-position: right 65%;
    transition: background-position 1s, border-radius 1s;
    cursor: pointer;
}

.back-layer2{    
    background-image: url("../img/09 Trabajadores imprenta 2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;   
    box-shadow: inset 0 0 15px 6.5px #94938f;
    width: auto;
    height: var(--jobs-height);
 
}

.back-layer2:hover{
    background-size: 350%;
    border-radius: 50%;
    background-position: 22% 55%;
    transition: background-position 0.6s, border-radius 0.6s;
    cursor: pointer;
}

.back-layer3{    
    background-image: url("../img/10 Trabajadores imprenta 3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  
    box-shadow: inset 0 0 15px 6.5px #94938f;
    width: auto;
    height: var(--jobs-height);

}

.back-layer3:hover{
    background-size: 240%;
    border-radius: 50%;
    background-position: 14% 45%;
    transition: background-position 0.6s, border-radius 0.6s;
    cursor: pointer;
}

.trabajostext{
    padding: 2rem;
    box-shadow: inset 0 0 15px 6.5px #adaca5;
    border-bottom-left-radius: 4px;    
    border-top-left-radius: 4px;    
    width: auto;
    height: var(--jobs-height);
    background-color: #e2e0d9;
}

#subtirador .trabajostext{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


.videos{
    width: 250px;
}




/*------------------------------DIFUSIÓN DE LA IMPRENTA----------------------------------*/

/*Europe Map SVG*/

.europemap{
    position: relative;
    width: 50vw;
    height: auto;  
}


.str1 {
    stroke: var(--primary-text-color);
    stroke-width: 0.0523025;
}

.str2 {
    stroke: var(--primary-text-color);
    stroke-width: 0.0523025;
    stroke-linecap: round;
    stroke-linejoin: round
}

.str0 {
    stroke: var(--primary-text-color);
    stroke-width: 0.08;
}

.fil1 {
    fill: var(--divider-color);
}

.fil0 {
    fill: var(--dark-primary-color);
}


#diffusion-map circle{
    fill: var(--accent-color);
    stroke: black;
    stroke-width: 0.04;
}

#diffusion-map text{
    fill: black;
    font-size: 0.0rem;
    font-weight: bold;

}


.map-path{
    stroke: rgb(207, 46, 46);
    stroke-width: 0.25;
    fill:rgba(0, 0, 0, 0);
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: movement 25s linear forwards;
}


@keyframes movement {

   to{
       stroke-dashoffset: 0;       
   }
    
   from{
       stroke-dashoffset: 100;
   }
}



/*-------------------------------PRIMEROS LIBROS EN ESPAÑA--------------------------------*/

/*CAROUSEL*/


.carousel-container{
    position: relative;    
    display: inline-flex;
    width: 100%;
    height: var(--carousel-height);  
    margin-top: 3rem;
}

.carousel-position{
    position: absolute;
    width: var(--carousel-width);
    height: inherit;    
    left: var(--carousel-centerleft-position); 
    border-bottom-left-radius: var(--carousel-radius);
    border-bottom-right-radius: var(--carousel-radius);
    border-top-left-radius: var(--carousel-radius);
    border-top-right-radius: var(--carousel-radius);
    box-shadow: 0 0 2px 1px rgb(179, 179, 179); 
    background-color: rgb(240, 238, 208);
    padding: 1.1rem;
    cursor: pointer;
}

.img-position{
    width: calc(0.88 * var(--carousel-width));
    height: calc(0.85 * var(--carousel-height));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 10px 6.5px #424241;
    border-bottom-left-radius: var(--carousel-radius);
    border-bottom-right-radius: var(--carousel-radius);
    border-top-left-radius: var(--carousel-radius);
    border-top-right-radius: var(--carousel-radius);   
}

#spainbooks .pie-cdo{
    padding-top: 0.5rem;
    font-size: 1.1rem;    
}


.centro-derecha{
    /* transform: scale(0.9) translate( calc(0.7*var(--carousel-width)), calc( (calc(var(--carousel-height) - calc(0.9*var(--carousel-height))))*0.5 ) );  */
    transform: scale(0.8) translate(calc(0.8*var(--carousel-width)), 0.6rem);     
    transition: transform 1.5s;
}

.centro-izquierda{
    transform: scale(0.8) translate(calc(-0.8*var(--carousel-width)), 0.6rem);   
    transition: transform 1.5s;
}

.set-center{
    transform: scale(1) translate(0,0);
    z-index: 3;
    transition: transform 1.5s;
}

.overlap{
    z-index: 2;
}


/*Colocación de imágenes*/
.trobes{
    background-image: url("../img/12 les trobes.jpg");
}

.compre{
    background-image: url("../img/13 el comprensorium.jpg");
    /* background-position: top left; */
}

.bible{
    background-image: url("../img/14 valencian bible.jpg");
}


/*----------------------------------------LUGARES EMBLEMÁTICOS EN VALENCIA-------------------------------*/

#lugares-valencia .row {
    position:relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
}
  
  /* Create four equal columns that sits next to each other */
#lugares-valencia .column {
    flex: 25%;
    max-width: 33.3%;
    padding: 0 5px;
}

#lugares-valencia .container{
    position:relative;
}
  
#lugares-valencia .column img {
    margin-top: 10px;
    vertical-align: middle;   
    border-radius: 5px;
    cursor: pointer;    
    position: relative;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    background: rgba(31, 28, 28, 0.801);
    opacity: 0;
    cursor: pointer; 
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    padding-top: 10%;
    padding-bottom: 10%;
    color: white;
    font-size: 1.3rem;
  
}

.middle a i{
    color: red;
}

#lugares-valencia .container:hover .middle{
    opacity: 1;
}




/* #lugares-valencia .container:hover img{
    filter: grayscale(1) brightness(0.3);    
    
} */



/*-------------------------------------MEDIA QUERYS-------------------------------*/

@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
}
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
    .column img {
      filter: grayscale(0) brightness(1);
    }
}


@media (min-width: 1200px) {
    .container {
      max-width: 1000px;
    }
}

@media (max-width: 1200px) {
   /*  .nav-typografy{
        align-items: center;
        text-align: center;
    } */
    .despliegue{
        background-color: var(--dark-primary-color);        
        margin-left: 2.5rem;
        padding-left: 1.5rem;       
    }

    .nav-typografy{   
        align-items:flex-start;     
        text-align: left;
        padding-bottom: 1rem;
    }
}

@media (max-width: 992px) {
    .middle{
        font-size: 1.2rem;
    }
    .despliegue{
        background-color: var(--dark-primary-color);        
        margin-left: 2.5rem;
        padding-left: 1.5rem;       
    }

    .nav-typografy{   
        align-items:flex-start;     
        text-align: left;
        padding-bottom: 1rem;
    }
}

@media (max-width: 768px){ /*Tamaño tableta tumbada*/
    .despliegue{
        background-color: var(--dark-primary-color);        
        margin-left: 2.5rem;
        padding-left: 1.5rem;       
    }

    .nav-typografy{   
        align-items:flex-start;     
        text-align: left;
        padding-bottom: 1rem;
    }

    .europemap{
        width: 90vw;
    }

    .middle{
        font-size: 1.1rem;
    }

    
}

@media (max-width: 576px){

    :root{
        --carousel-width: 15rem;
        --carousel-height: 25rem;
    }


    .imagen-Gutenberg{        
        float: none !important;
        margin-left: auto;
        margin-bottom: 1.5rem;
        margin-right: auto;        
    }

    h1{
        text-align: center;
    }

    body{
        text-align: center;
    }    

    .middle{
        font-size: 0.8rem;
        line-height: 1rem;
    }



}

